boto3==1.20.46
botocore==1.23.46
Django==4.0.1
django-anymail==8.5
django-appconf==1.0.5
django-cors-headers==3.11.0
django-csp==3.7
django-imagekit==4.1.0
django-nested-admin==3.4.0
django-simple-history==3.0.0
django-storages==1.12.3
django-templated-email==3.0.0
djangorestframework==3.13.1
djoser==2.1.0
mysqlclient==2.1.0
Pillow==9.0.1
requests==2.27.1
stripe==2.65.0
