asgiref==3.4.1
boto3==1.13.6
botocore==1.16.6
certifi==2021.10.8
chardet==3.0.4
Django==3.0.12
django-anymail==7.1.0
django-appconf==1.0.4
django-cors-headers==3.2.1
django-csp==3.6
django-imagekit==4.0.2
django-nested-admin==3.3.0
django-render-block==0.9.1
django-simple-history==2.10.0
django-storages==1.9.1
django-templated-email==2.3.0
django-templated-mail==1.1.1
djangorestframework==3.11.2
djoser==2.0.3
docutils==0.15.2
idna==2.10
jmespath==0.10.0
mysqlclient==1.4.6
pilkit==2.0
Pillow==7.1.2
python-dateutil==2.8.2
python-monkey-business==1.0.0
pytz==2021.3
requests==2.23.0
s3transfer==0.3.7
six==1.16.0
sqlparse==0.4.2
stripe==2.47.0
urllib3==1.26.5
