{% extends "email_base.html" %}
{% block subject %}MGPA Login Request{% endblock %}
{% block content %}
<p style="margin: 0;font-size: 14px;margin-bottom: 10px;">
    You are receiving this email because you have requested a temporary login from the MPGA website.
    If you did not initiate this email, please notify the MPGA.
</p>
<p style="margin: 0;font-size: 14px;margin-bottom: 10px;">
    Enter this 6-digit code in the form on the MPGA website: <strong>{{callback_token}}</strong>.
</p>
<p style="margin: 0;font-size: 14px;margin-bottom: 10px;">
    You will be authenticated for 15 minutes, during which time you can edit your club contacts,
    sign up for match play, or pay your club dues.
</p>
{% endblock %}
