{% load i18n %}

{% block subject %}
{% blocktrans %}MPGA Account Activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Thank you for your interest in the {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate your account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "If you have any problems, contact admin@mpga.net" %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Thank you for your interest in the {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "If you have any problems, contact admin@mpga.net" %}</p>

{% endblock html_body %}
