{% load i18n %}

{% block subject %}
{% blocktrans %}Password Reset on {{ domain }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at MPGA.net.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url }}

{% trans "If you have any problems, contact admin@mpga.net" %}

{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at MPGA.net.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>

<p>{% trans "If you have any problems, contact admin@mpga.net" %}</p>

{% endblock html_body %}
